*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e9e8ee;
}
nav{
    background-color: black;
    margin: none;
}
.navbar-brand{
    color: #e9e8ee;
    margin-left: 5vh;
}
.navbar-brand:hover {
    color: #b4b1b8;
}
#navbarNavDropdown {
    margin-left: 2vh;
}
#navbarDropdownMenuLink {
    color: #e9e8ee;
}
#navbarDropdownMenuLink:hover {
    color: #b4b1b8;
}